apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tenant-{{ projectName }}-prod
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  project: default
  source:
    repoURL: 'https://github.com/mebharti/platform-shared-svc.git'
    targetRevision: HEAD
    path: 'tenants/{{ projectName }}/prod'
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: tenant-{{ projectName }}-prod
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
